<h2>Login</h2>
<form method="POST" action="/login">
    <label>
        Username
        <input type="text" name="username" required>
    </label>
    <label>
        Password
        <input type="password" name="password" required>
    </label>
    <button type="submit">Login</button>
</form>

{{#if errorMessage}}
<div class="error">{{errorMessage}}</div>
{{/if}}

<p>
    Don't have an account? Sign up <a href="/signup">here</a>
</p>